<!-- <div (click)="hideModal()" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <p>{{msg}}</p>
    </div>
  </div>
</div> -->


<!-- <div   (click)="hideModal()"  class="overlay">
  <div>
    <svg (click)="hideModal()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>

    <p>{{msg}}</p>

  </div>
</div>
 -->

<!-- <h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>This dialog showcases the title, close, content and actions elements.</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close>{{data.title || 'Default Save'}}</button>
</mat-dialog-actions> -->